{{!< default}}

<div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
  <h1 style="border-bottom: 5px solid white;">Take 5 seconds to<br/> Write a Song</h1>
        <img class="site-header-cover" style="z-index: -1"
            srcset="{{asset "img/synthony-homepage-cover.jpg" size="s"}} 300w,
                    {{asset "img/synthony-homepage-cover.jpg" size="m"}} 600w,
                    {{asset "img/synthony-homepage-cover.jpg" size="l"}} 1000w,
                    {{asset "img/synthony-homepage-cover.jpg" size="xl"}} 2000w"
            sizes="100vw"
            src="{{asset "img/synthony-homepage-cover.jpg" size="xl"}}"
            alt=""
        />
</div>

<style>
  .join-button {
    background-color: rgb(255, 25, 0);
    display: block;

    margin: auto;
  } 

  .join-button a { color: white;  padding: 15px;} 

  .motive {
    font-size: 4rem;
    line-height: 6rem;
  } 
  
  .motive-emotive {
    font-size: 3rem;
    line-height: 4rem;
  }

  .motive h2 {
    font-size: 6rem;
  }

  .motive p {
    margin-bottom: 4rem;
  } 
  
  .name {
    font-weight: bold;
  }

  .backdrop {
    background-color: rgba(0,0,0,0.85);
    color: white;
    padding: 15px;
  } 

  .motive-compelling {
    background-image: url("/assets/img/frontpage-bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .motive-manifesto {
    background-image: url("/assets/img/frontpage-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .section-break {
    height: 1vh;
    width: 100%;
    background: black;
    box-shadow: 0px 20px 30px black,0px -20px 30px black;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media(max-width: 768px) {
    .motive {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
    .motive h2 { font-size: 4rem; }
    .motive { font-size: 3rem; line-height: 4rem;}
    .motive p {
      margin-bottom: 2rem;
    } 
  }

  @media(min-width: 768px) {
    .motive {
      padding-left: 25%;
      padding-right: 25%;
    }

    .mini-song-maker {
        padding-left: 25%;
        padding-right: 25%;
    }
  }

</style>

<main id="site-main" class="site-main">

    <section class="gh-content gh-canvas pt-0 section content">
      <h2>Have you ever wanted to write a song?</h2>
      <h3>Do you produce content and need License Free music?</h3>
      <h4>Do you produce music and get stuck on what should go next?</h4>
    </section>

    <section class="gh-content gh-canvas pt-0 section content">
      <h2>What can I do with my Synthony Songs?</h2>      
        <p class="response">When you design and make your songs, you are free to do with them anyting you please!</p>
        <p>While the possibilities are truly endless, here are some ideas to get you started: </p>

        <ul>
          <li><label>Movie Maker</label> Make a song and add it to one of your home videos</li>
          <li>Influencer Make a song and put it in your stories, chats, or posts</li>
          <li><b>Music Producer</b> Make a sound with only 1 voice, and use it in your DAW as a stem</li>
          <li>Movie Maker Make a sound and use it for a short video</li>
          <li>Music Producer Mak a lot of sounds with only 1 voice to build your own Sample Packs</li>
        </ul>


      <h2>Am I really writing music?</h2>
        <p>This is a good question. A few people feel like they aren't really writing the song - and yeah, we can see where that comes from. So let's make something <b>very clear</b>:</p>
        <p>At Synthony, we distinguish between "Writing" music and "Making" music. "Writing" is the traditional way most people create music. It takes a lot of skill and practice, and the result is a highly individual expression from the composer. This is how almost all of the music you hear is made, and the results are obviously amazing.</p>

        <p>But wait, the future is coming! The future is coming! Ain't nobody got time for skill and practice, I'm to busy doing future things.</p>
        <p>That's how we feel anyway, and is why we created a song "Making" service. This lets you use <b>design</b> to declare what your songs should sound like. It is actually very similar to using a recipe to make food.</p>
        <p>When you have a recipe to bake chocolate chip cookies, the recipe first has ingredients on what goes inside, and then you have instructions on how to bake the cookies. When the cookies come out the oven, every cookie is unique (and delicious). Some of them might be a little chewier, and others might be a little thicker or sweeter or crunchier or... now I want cookies.</p>
        <p>The same idea goes into making songs with Synthony. When you make short song with the MiniMaker, the ingredients are the voices that go inside and the speed. We take care of the steps to write the song, and pop them out of the oven into your song bank. And like the baker's cookies, each song is going to be unique in its own way.</p>

        <b>An interesting point is how different the results can be by changing just one ingredient!</b>

        <p>For example, if you replace the chocolate chips with cinnamon sugar, you make some snickerdoodles instead. The same concept works with Synthony too. If you change the voices for your song, or change the tempo, the result is going to be much more different compared to the other recipe.</p>

        <p>What are your favorite recipes for making songs?</p>
   

      <h2>How much does it cost?</h2>      
        <p>Right now, everything we offer is absoultely free. We just want your feedback. It is polite to tell your friends and fans about us too, because we want to grow big and strong just like you.</p>
        <p>Things will change in April. At that point in time, we have plans to offer upgrades and subscriptions for making songs.</p>
        <p>At this point in time though the only thing we care about is finding the best ways to make recipes for your music.</p>
        <p>Important! This has been a project long in the making by me, Cortland :)</p>
        <p>I haven't been working for anyone else and have been supporting myself on savings to make this for you. I really want to help you write music. But also, I'm running out of money to buy things like food.</p>
        <p>Is Synthony helpful or fun for you to use? If so, please consider helping me back on <a href="https://patreon.com/cortlandmahoney" target="_blank">Patreon</a>! Any amount would really, <b>really</b> help a lot. Thank you!</p>
        <p>Do you want to help us improve our ingredients and recipes? <a href="/contact">Tell us</a> what we can do for you now!</p>

      <h2>"This is so cool."</h2>      
        <p>This is our most common feedback, and we couldn't agree more!</p>

      <h2>Can you show me the license agreement?</h2>
        <p>Sure. You can read the full license agreement <a href="/license-agreement" target="_blank">here</a>. In short, it says that the logged in member who created the song is the owner of the Master recording and rights to Composition. Basically it's all yours. We just make it and store it in our cloud for you.</p>

    </section>




</main>
